.kontak{
    font-family: sans-serif;
    font-style: oblique;
    position: absolute;
    top: 40%;
    left: 0px;
    text-align: center;
    display: grid;
    border: solid;
    background-color: lightgray;
}

.logo{
    width: 2%;
    height: 2%;
}

h1{
    font-family: sans-serif;
    font-style: normal;
    border-bottom: solid;
    background-color: lightgrey;
}

body{
    background-image: url(../bromo/7.jpg);
}